.git
.github
.vscode
node_modules
vendor
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/debugbar
.pint.cache
public/build
.env
.env.*
npm-debug.log
Dockerfile.dev
docker-compose.dev.yml
tests
phpunit.xml
coverage
